/.cvsignore
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
bench/*.log
bench/*.log.*
bench/*.pix
bench/*.pix.*
bench/.cvsignore
/brlcad.spec
/config.*
/configure
db/.cvsignore
db/Makefile
db/Makefile.in
db/axis.g
db/bldg391.g
db/boolean-ops.g
db/castle.g
db/cornell.g
db/cray.g
db/crod.g
db/cube.g
db/demo.g
db/galileo.g
db/havoc.g
db/kman.g
db/ktank.g
db/lgt-test.g
db/m35.g
db/moss.g
db/pic.g
db/prim.g
db/sphflake.g
db/star.g
db/tank_car.g
db/terra.g
db/truck.g
db/wave.g
db/woodsman.g
db/world.g
db/xmp.g
doc/html/manuals/mged/mged_cmd_index.html
include/.cvsignore
include/Makefile
include/Makefile.in
include/brlcad_version.h
include/config.h
include/config.h.in
include/stamp-h1
include/version
librt/vers.c
/libtool
src/libbn/vers.c
src/libbu/vers.c
src/libdm/vers.c
src/libfb/vers.c
src/libmultispectral/vers.c
src/liboptical/vers.c
src/libpkg/vers.c
src/librt/vers.c
src/libsysv/vers.c
src/libtermio/vers.c
src/libwdb/vers.c
src/other/incrTcl/*.00?
src/other/incrTcl/*.dsp
src/other/incrTcl/*.dsw
src/other/incrTcl/*.ncb
src/other/incrTcl/*.opt
src/other/incrTcl/*.plg
src/other/incrTcl/Makefile
src/other/incrTcl/config.cache
src/other/incrTcl/config.log
src/other/incrTcl/config.status
src/other/incrTcl/itcl/Makefile
src/other/incrTcl/itcl/confdefs.h
src/other/incrTcl/itcl/config.log
src/other/incrTcl/itcl/win/Debug
src/other/incrTcl/itcl/win/Release
src/other/incrTcl/itcl/win/nmakehlp.exe
src/other/incrTcl/itcl/win/nmakehlp.obj
src/other/incrTcl/itk/Makefile
src/other/incrTcl/itk/confdefs.h
src/other/incrTcl/itk/config.log
src/other/incrTcl/itk/win/Debug
src/other/incrTcl/itk/win/Release
src/other/incrTcl/itk/win/nmakehlp.exe
src/other/incrTcl/itk/win/nmakehlp.obj
src/other/libpng/vers.c
src/rt/vers.c
src/sample_applications/makefile
src/tclscripts/lib/tclIndex
src/tclscripts/mged/tclIndex
src/tclscripts/pl-dm/tclIndex
src/tclscripts/tclIndex
src/tclscripts/util/tclIndex
