/.cvsignore
/Makefile
/autom4te.cache
bench/*.log
bench/*.log.*
bench/*.pix
bench/*.pix.*
bench/.cvsignore
/config.*
doc/html/manuals/mged/mged_cmd_index.html
html/manuals/mged/mged_cmd_index.html
libbn/vers.c
libbu/vers.c
libdm/vers.c
libfb/vers.c
libitcl/*.00?
libitcl/*.dsp
libitcl/*.dsw
libitcl/*.ncb
libitcl/*.opt
libitcl/*.plg
libitcl/Makefile
libitcl/config.cache
libitcl/config.log
libitcl/config.status
libitcl/itcl/Makefile
libitcl/itcl/confdefs.h
libitcl/itcl/config.log
libitcl/itcl/win/Debug
libitcl/itcl/win/Release
libitcl/itcl/win/nmakehlp.exe
libitcl/itcl/win/nmakehlp.obj
libitcl/itk/Makefile
libitcl/itk/confdefs.h
libitcl/itk/config.log
libitcl/itk/win/Debug
libitcl/itk/win/Release
libitcl/itk/win/nmakehlp.exe
libitcl/itk/win/nmakehlp.obj
libmultispectral/vers.c
liboptical/vers.c
libpkg/vers.c
libpng/vers.c
librt/vers.c
libsysv/vers.c
libtermio/vers.c
libwdb/vers.c
rt/vers.c
sample_applications/makefile
src/other/libitcl/*.00?
src/other/libitcl/*.dsp
src/other/libitcl/*.dsw
src/other/libitcl/*.ncb
src/other/libitcl/*.opt
src/other/libitcl/*.plg
src/other/libitcl/Makefile
src/other/libitcl/config.cache
src/other/libitcl/config.log
src/other/libitcl/config.status
src/other/libitcl/itcl/Makefile
src/other/libitcl/itcl/confdefs.h
src/other/libitcl/itcl/config.log
src/other/libitcl/itcl/win/Debug
src/other/libitcl/itcl/win/Release
src/other/libitcl/itcl/win/nmakehlp.exe
src/other/libitcl/itcl/win/nmakehlp.obj
src/other/libitcl/itk/Makefile
src/other/libitcl/itk/confdefs.h
src/other/libitcl/itk/config.log
src/other/libitcl/itk/win/Debug
src/other/libitcl/itk/win/Release
src/other/libitcl/itk/win/nmakehlp.exe
src/other/libitcl/itk/win/nmakehlp.obj
src/other/libpng/vers.c
tclscripts/lib/tclIndex
tclscripts/mged/tclIndex
tclscripts/pl-dm/tclIndex
tclscripts/tclIndex
tclscripts/util/tclIndex
