* text=auto !eol
h/raytrace.h svneol=native#text/plain
jove/Makefile svneol=native#text/plain
jove/findcom.c svneol=native#text/plain
jove/jove.h svneol=native#text/plain
jove/jove_buf.c svneol=native#text/plain
jove/jove_c.c svneol=native#text/plain
jove/jove_delete.c svneol=native#text/plain
jove/jove_disp.c svneol=native#text/plain
jove/jove_draw.c svneol=native#text/plain
jove/jove_extend.c svneol=native#text/plain
jove/jove_funcs.c svneol=native#text/plain
jove/jove_insert.c svneol=native#text/plain
jove/jove_io.c svneol=native#text/plain
jove/jove_main.c svneol=native#text/plain
jove/jove_marks.c svneol=native#text/plain
jove/jove_misc.c svneol=native#text/plain
jove/jove_proc.c svneol=native#text/plain
jove/jove_re.c svneol=native#text/plain
jove/jove_screen.c svneol=native#text/plain
jove/jove_temp.h svneol=native#text/plain
jove/jove_term.c svneol=native#text/plain
jove/jove_wind.c svneol=native#text/plain
jove/termcap.h svneol=native#text/plain
libbn/mat.c svneol=native#text/plain
librt/bool.c svneol=native#text/plain
librt/debug.h svneol=native#text/plain
librt/dir.c svneol=native#text/plain
librt/g_arb.c svneol=native#text/plain
librt/g_ell.c svneol=native#text/plain
librt/g_tgc.c svneol=native#text/plain
librt/mat.c svneol=native#text/plain
librt/plane.h svneol=native#text/plain
librt/shoot.c svneol=native#text/plain
librt/timer42.c svneol=native#text/plain
librt/tree.c svneol=native#text/plain
rt/main.c svneol=native#text/plain
rt/view.c svneol=native#text/plain
