* text=auto !eol
conv/asc2g.c svneol=native#text/plain
conv/conv-vg2g.c svneol=native#text/plain
conv/g2asc.c svneol=native#text/plain
h/db.h svneol=native#text/plain
h/mater.h svneol=native#text/plain
h/raytrace.h svneol=native#text/plain
h/vmath.h svneol=native#text/plain
jove/Makefile svneol=native#text/plain
jove/findcom.c svneol=native#text/plain
jove/jove.h svneol=native#text/plain
jove/jove_buf.c svneol=native#text/plain
jove/jove_c.c svneol=native#text/plain
jove/jove_delete.c svneol=native#text/plain
jove/jove_disp.c svneol=native#text/plain
jove/jove_draw.c svneol=native#text/plain
jove/jove_extend.c svneol=native#text/plain
jove/jove_funcs.c svneol=native#text/plain
jove/jove_insert.c svneol=native#text/plain
jove/jove_io.c svneol=native#text/plain
jove/jove_main.c svneol=native#text/plain
jove/jove_marks.c svneol=native#text/plain
jove/jove_misc.c svneol=native#text/plain
jove/jove_proc.c svneol=native#text/plain
jove/jove_re.c svneol=native#text/plain
jove/jove_screen.c svneol=native#text/plain
jove/jove_temp.h svneol=native#text/plain
jove/jove_term.c svneol=native#text/plain
jove/jove_tune.c svneol=native#text/plain
jove/jove_wind.c svneol=native#text/plain
jove/termcap.h svneol=native#text/plain
libbn/mat.c svneol=native#text/plain
librt/bool.c svneol=native#text/plain
librt/debug.h svneol=native#text/plain
librt/dir.c svneol=native#text/plain
librt/g_arb.c svneol=native#text/plain
librt/g_ell.c svneol=native#text/plain
librt/g_tgc.c svneol=native#text/plain
librt/g_torus.c svneol=native#text/plain
librt/mat.c svneol=native#text/plain
librt/plane.h svneol=native#text/plain
librt/polylib.c svneol=native#text/plain
librt/polyno.h svneol=native#text/plain
librt/roots.c svneol=native#text/plain
librt/shoot.c svneol=native#text/plain
librt/timer42.c svneol=native#text/plain
librt/timer52brl.c svneol=native#text/plain
librt/timerunix.c svneol=native#text/plain
librt/tree.c svneol=native#text/plain
mged/adc.c svneol=native#text/plain
mged/anal.c svneol=native#text/plain
mged/attach.c svneol=native#text/plain
mged/buttons.c svneol=native#text/plain
mged/chgmodel.c svneol=native#text/plain
mged/chgtree.c svneol=native#text/plain
mged/chgview.c svneol=native#text/plain
mged/clip.c svneol=native#text/plain
mged/cmd.c svneol=native#text/plain
mged/columns.c svneol=native#text/plain
mged/dir.c svneol=native#text/plain
mged/dm-mer.c svneol=native#text/plain
mged/dm-tek.c svneol=native#text/plain
mged/dodraw.c svneol=native#text/plain
mged/dozoom.c svneol=native#text/plain
mged/edarb.c svneol=native#text/plain
mged/edsol.c svneol=native#text/plain
mged/ged.c svneol=native#text/plain
mged/ged.h svneol=native#text/plain
mged/ged_types.h svneol=native#text/plain
mged/mater.c svneol=native#text/plain
mged/memalloc.c svneol=native#text/plain
mged/menu.c svneol=native#text/plain
mged/menu.h svneol=native#text/plain
mged/mgdev.h svneol=native#text/plain
mged/mged_dm.h svneol=native#text/plain
mged/mged_solid.h svneol=native#text/plain
mged/mover.c svneol=native#text/plain
mged/objdir.h svneol=native#text/plain
mged/path.c svneol=native#text/plain
mged/proc_reg.c svneol=native#text/plain
mged/sedit.h svneol=native#text/plain
mged/tedit.c svneol=native#text/plain
mged/titles.c svneol=native#text/plain
mged/usepen.c svneol=native#text/plain
mged/vgdev.h svneol=native#text/plain
rt/main.c svneol=native#text/plain
rt/view.c svneol=native#text/plain
util/pix-ik.c svneol=native#text/plain
