/.anim.*
/.bench.*
/.btclsh.*
/.burst.*
/.bwish.*
/.cake*.*
/.canon.*
/.comgeom-g.*
/.conv.*
/.cvsignore
/.cwish.*
/.db.*
/.fb.*
/.fbed.*
/.fbserv.*
/.gtools.*
/.halftone.*
/.iges.*
/.irprep.*
/.iwidgets*
/.jack.*
/.jove.*
/.lgt.*
/.lib*.*
/.mged.*
/.mk.*
/.nirt.*
/.off.*
/.patch.*
/.proc-db.*
/.remrt.*
/.rt.*
/.sig.*
/.tab.*
/.tk.*
/.tools.*
/.unigraphics.*
/.util.*
/.vas4.*
/.vdeck.*
bench/*.log
bench/*.log.*
bench/*.pix
bench/*.pix.*
bench/.cvsignore
html/manuals/mged/mged_cmd_index.html
sample_applications/makefile
tclscripts/lib/tclIndex
tclscripts/mged/tclIndex
tclscripts/pl-dm/tclIndex
tclscripts/tclIndex
tclscripts/util/tclIndex
