* text=auto !eol
conv/asc2g.c svneol=native#text/plain
conv/asc2pix.c svneol=native#text/plain
conv/conv-vg2g.c svneol=native#text/plain
conv/g2asc.c svneol=native#text/plain
conv/pix2asc.c svneol=native#text/plain
fb/bw-fb.c svneol=native#text/plain
fb/fb-bw.c svneol=native#text/plain
fb/fb-orle.1 svneol=native#text/plain
fb/fb-orle.c svneol=native#text/plain
fb/fb-pix.c svneol=native#text/plain
fb/fbanim.c svneol=native#text/plain
fb/fbclear.1 svneol=native#text/plain
fb/fbclear.c svneol=native#text/plain
fb/fbcmap.1 svneol=native#text/plain
fb/fbcmap.c svneol=native#text/plain
fb/fbcmrot.c svneol=native#text/plain
fb/fbcolor.c svneol=native#text/plain
fb/fbframe.c svneol=native#text/plain
fb/fbgrid.1 svneol=native#text/plain
fb/fbgrid.c svneol=native#text/plain
fb/fblabel.c svneol=native#text/plain
fb/fbpoint.1 svneol=native#text/plain
fb/fbpoint.c svneol=native#text/plain
fb/fbscanplot.c svneol=native#text/plain
fb/fbzoom.1 svneol=native#text/plain
fb/fbzoom.c svneol=native#text/plain
fb/orle-fb.1 svneol=native#text/plain
fb/orle-fb.c svneol=native#text/plain
fb/pix-fb.1 svneol=native#text/plain
fb/pix-fb.c svneol=native#text/plain
fb/pl-fb.c svneol=native#text/plain
fb/pp-fb.1 svneol=native#text/plain
fb/pp-fb.c svneol=native#text/plain
fbed/ascii.h svneol=native#text/plain
fbed/char.c svneol=native#text/plain
fbed/cursorbits.h svneol=native#text/plain
fbed/empty.c svneol=native#text/plain
fbed/execshell.c svneol=native#text/plain
fbed/extern.h svneol=native#text/plain
fbed/fb_ik.h svneol=native#text/plain
fbed/fbed.1 svneol=native#text/plain
fbed/fbed.c svneol=native#text/plain
fbed/fill_buf.c svneol=native#text/plain
fbed/font.h svneol=native#text/plain
fbed/getfont.c svneol=native#text/plain
fbed/getinput.c svneol=native#text/plain
fbed/glob.c svneol=native#text/plain
fbed/loadfont.c svneol=native#text/plain
fbed/popup.h svneol=native#text/plain
fbed/pos_pad.c svneol=native#text/plain
fbed/prnt.c svneol=native#text/plain
fbed/sgi_dep.c svneol=native#text/plain
fbed/squash.c svneol=native#text/plain
fbed/std.h svneol=native#text/plain
fbed/try.c svneol=native#text/plain
fbed/try.h svneol=native#text/plain
fbserv/fbserv.c svneol=native#text/plain
h/db.h svneol=native#text/plain
h/fb.h svneol=native#text/plain
h/machine.h svneol=native#text/plain
h/mater.h svneol=native#text/plain
h/orle.h svneol=native#text/plain
h/pkg.h svneol=native#text/plain
h/raytrace.h svneol=native#text/plain
h/shadefuncs.h svneol=native#text/plain
h/shadework.h svneol=native#text/plain
h/vmath.h svneol=native#text/plain
jove/Makefile svneol=native#text/plain
jove/findcom.c svneol=native#text/plain
jove/jove.h svneol=native#text/plain
jove/jove_buf.c svneol=native#text/plain
jove/jove_c.c svneol=native#text/plain
jove/jove_delete.c svneol=native#text/plain
jove/jove_disp.c svneol=native#text/plain
jove/jove_draw.c svneol=native#text/plain
jove/jove_extend.c svneol=native#text/plain
jove/jove_funcs.c svneol=native#text/plain
jove/jove_insert.c svneol=native#text/plain
jove/jove_io.c svneol=native#text/plain
jove/jove_main.c svneol=native#text/plain
jove/jove_marks.c svneol=native#text/plain
jove/jove_misc.c svneol=native#text/plain
jove/jove_proc.c svneol=native#text/plain
jove/jove_re.c svneol=native#text/plain
jove/jove_screen.c svneol=native#text/plain
jove/jove_temp.h svneol=native#text/plain
jove/jove_term.c svneol=native#text/plain
jove/jove_tune.c svneol=native#text/plain
jove/jove_wind.c svneol=native#text/plain
jove/termcap.h svneol=native#text/plain
libbn/mat.c svneol=native#text/plain
libbn/plot3.c svneol=native#text/plain
libfb/adage.h svneol=native#text/plain
libfb/adagecursor.h svneol=native#text/plain
libfb/adageframe.h svneol=native#text/plain
libfb/dmdfb.h svneol=native#text/plain
libfb/fb_generic.c svneol=native#text/plain
libfb/fb_log.c svneol=native#text/plain
libfb/fb_paged_io.c svneol=native#text/plain
libfb/fblocal.h svneol=native#text/plain
libfb/getput.c svneol=native#text/plain
libfb/if_TEMPLATE.c svneol=native#text/plain
libfb/if_adage.c svneol=native#text/plain
libfb/if_debug.c svneol=native#text/plain
libfb/if_disk.c svneol=native#text/plain
libfb/if_ptty.c svneol=native#text/plain
libfb/if_remote.c svneol=native#text/plain
libfb/if_sgi.c svneol=native#text/plain
libfb/if_sgiw.c svneol=native#text/plain
libfb/libfb.3 svneol=native#text/plain
libfb/pkgswitch.c svneol=native#text/plain
libfb/pkgtypes.h svneol=native#text/plain
libfb/sgicursor.h svneol=native#text/plain
libfb/sgiselect.s svneol=native#text/plain
liboptical/sh_cloud.c svneol=native#text/plain
liboptical/sh_plastic.c svneol=native#text/plain
liboptical/sh_text.c svneol=native#text/plain
liborle/liborle.3 svneol=native#text/plain
liborle/rle.c svneol=native#text/plain
libpkg/pkg.c svneol=native#text/plain
librt/bool.c svneol=native#text/plain
librt/cut.c svneol=native#text/plain
librt/debug.h svneol=native#text/plain
librt/dir.c svneol=native#text/plain
librt/g_arb.c svneol=native#text/plain
librt/g_ars.c svneol=native#text/plain
librt/g_ell.c svneol=native#text/plain
librt/g_half.c svneol=native#text/plain
librt/g_pg.c svneol=native#text/plain
librt/g_rec.c svneol=native#text/plain
librt/g_spline.c svneol=native#text/plain
librt/g_tgc.c svneol=native#text/plain
librt/g_torus.c svneol=native#text/plain
librt/librt.3 svneol=native#text/plain
librt/mat.c svneol=native#text/plain
librt/mater.c svneol=native#text/plain
librt/plane.h svneol=native#text/plain
librt/polylib.c svneol=native#text/plain
librt/polyno.h svneol=native#text/plain
librt/roots.c svneol=native#text/plain
librt/shoot.c svneol=native#text/plain
librt/sqrt.gould.s svneol=native#text/plain
librt/sqrt.vax.s svneol=native#text/plain
librt/storage.c svneol=native#text/plain
librt/timer42.c svneol=native#text/plain
librt/timer52brl.c svneol=native#text/plain
librt/timercos.c svneol=native#text/plain
librt/timerhep.c svneol=native#text/plain
librt/timerunix.c svneol=native#text/plain
librt/tree.c svneol=native#text/plain
libsysv/getopt.c svneol=native#text/plain
libtermio/termio.c svneol=native#text/plain
mged/adc.c svneol=native#text/plain
mged/anal.c svneol=native#text/plain
mged/arb.c svneol=native#text/plain
mged/arbs.c svneol=native#text/plain
mged/attach.c svneol=native#text/plain
mged/buttons.c svneol=native#text/plain
mged/chgmodel.c svneol=native#text/plain
mged/chgtree.c svneol=native#text/plain
mged/chgview.c svneol=native#text/plain
mged/clip.c svneol=native#text/plain
mged/cmd.c svneol=native#text/plain
mged/columns.c svneol=native#text/plain
mged/dir.c svneol=native#text/plain
mged/dm-mer.c svneol=native#text/plain
mged/dm-plot.c svneol=native#text/plain
mged/dm-sun.c svneol=native#text/plain
mged/dm-tek.c svneol=native#text/plain
mged/dm-tek4109.c svneol=native#text/plain
mged/dodraw.c svneol=native#text/plain
mged/dozoom.c svneol=native#text/plain
mged/edarb.c svneol=native#text/plain
mged/edsol.c svneol=native#text/plain
mged/facedef.c svneol=native#text/plain
mged/ged.c svneol=native#text/plain
mged/ged.h svneol=native#text/plain
mged/ged_types.h svneol=native#text/plain
mged/inside.c svneol=native#text/plain
mged/mater.c svneol=native#text/plain
mged/memalloc.c svneol=native#text/plain
mged/menu.c svneol=native#text/plain
mged/menu.h svneol=native#text/plain
mged/mgdev.h svneol=native#text/plain
mged/mged_dm.h svneol=native#text/plain
mged/mged_solid.h svneol=native#text/plain
mged/mover.c svneol=native#text/plain
mged/objdir.h svneol=native#text/plain
mged/path.c svneol=native#text/plain
mged/plot.c svneol=native#text/plain
mged/proc_reg.c svneol=native#text/plain
mged/sedit.h svneol=native#text/plain
mged/tedit.c svneol=native#text/plain
mged/titles.c svneol=native#text/plain
mged/track.c svneol=native#text/plain
mged/typein.c svneol=native#text/plain
mged/usepen.c svneol=native#text/plain
mged/utility1.c svneol=native#text/plain
mged/utility2.c svneol=native#text/plain
mged/vgdev.h svneol=native#text/plain
remrt/remrt.c svneol=native#text/plain
remrt/rtsrv.c svneol=native#text/plain
rt/libfb-dummy.c svneol=native#text/plain
rt/main.c svneol=native#text/plain
rt/material.c svneol=native#text/plain
rt/material.h svneol=native#text/plain
rt/mathtab.c svneol=native#text/plain
rt/mathtab.h svneol=native#text/plain
rt/rdebug.h svneol=native#text/plain
rt/rt.1 svneol=native#text/plain
rt/rtpp.1 svneol=native#text/plain
rt/rtray.1 svneol=native#text/plain
rt/sh_cloud.c svneol=native#text/plain
rt/sh_plastic.c svneol=native#text/plain
rt/sh_text.c svneol=native#text/plain
rt/view.c svneol=native#text/plain
rt/viewpp.c svneol=native#text/plain
rt/viewray.c svneol=native#text/plain
rt/worker.c svneol=native#text/plain
rt/wray.c svneol=native#text/plain
util/Makefile svneol=native#text/plain
util/ap-pix.c svneol=native#text/plain
util/bw-imp.c svneol=native#text/plain
util/bw-pix.c svneol=native#text/plain
util/bw3-pix.c svneol=native#text/plain
util/bwcrop.c svneol=native#text/plain
util/bwdiff.c svneol=native#text/plain
util/bwfilter.c svneol=native#text/plain
util/bwhist.c svneol=native#text/plain
util/bwhisteq.c svneol=native#text/plain
util/bwmod.c svneol=native#text/plain
util/bwrect.c svneol=native#text/plain
util/bwrot.c svneol=native#text/plain
util/bwscale.c svneol=native#text/plain
util/bwstat.c svneol=native#text/plain
util/dunncolor.c svneol=native#text/plain
util/dunnsnap.c svneol=native#text/plain
util/gencolor.c svneol=native#text/plain
util/loop.1 svneol=native#text/plain
util/loop.c svneol=native#text/plain
util/lowp.c svneol=native#text/plain
util/mac-pix.c svneol=native#text/plain
util/orle-pix.c svneol=native#text/plain
util/pix-both-ik.c svneol=native#text/plain
util/pix-bw.c svneol=native#text/plain
util/pix-bw3.c svneol=native#text/plain
util/pix-filt-ik.c svneol=native#text/plain
util/pix-ik.c svneol=native#text/plain
util/pix-ikr.c svneol=native#text/plain
util/pix-lowp-ik.c svneol=native#text/plain
util/pix-orle.c svneol=native#text/plain
util/pixbackgnd.c svneol=native#text/plain
util/pixbustup.c svneol=native#text/plain
util/pixdiff.c svneol=native#text/plain
util/pixfilter.c svneol=native#text/plain
util/pixhist.c svneol=native#text/plain
util/pixhist3d-pl.c svneol=native#text/plain
util/pixhist3d.c svneol=native#text/plain
util/pixinterp2x.c svneol=native#text/plain
util/pixmerge.c svneol=native#text/plain
util/pixrect.c svneol=native#text/plain
util/pixrot.c svneol=native#text/plain
util/pixscale.c svneol=native#text/plain
util/pixstat.c svneol=native#text/plain
util/pixt-ik.c svneol=native#text/plain
util/pixtile.c svneol=native#text/plain
util/strchr.c svneol=native#text/plain
util/sun-pix.c svneol=native#text/plain
vdeck/Makefile svneol=native#text/plain
vdeck/cgarbs.c svneol=native#text/plain
vdeck/match.c svneol=native#text/plain
vdeck/parsarg.c svneol=native#text/plain
vdeck/std.h svneol=native#text/plain
vdeck/vdeck.1 svneol=native#text/plain
vdeck/vdeck.c svneol=native#text/plain
vdeck/vextern.h svneol=native#text/plain
vdeck/vproc.c svneol=native#text/plain
